<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Sign Up</title>
    <style>
        .buttons {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .button {
            padding: 10px 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            cursor: pointer;
        }

        .button:hover {
            background-color: #eee;
        }
    </style>
</head>
<body>
    <h1>Login and Sign Up</h1>

    <div class="buttons">
        <a href="/ops-login/" class="button">Login as Operations User</a>
        <a href="/ops-signup/" class="button">Sign Up as Operations User</a>
    </div>
    <div class="buttons">
        <a href="/client-login/" class="button">Login as Client User</a>
        <a href="/client-signup/" class="button">Sign Up as Client User</a>
    </div>
</body>
</html>
